<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <header class="masthead mb-auto">
          <div class="inner">
            <a routerLink="/about" class = "blacklink"><h3 class="masthead-brand"></h3></a>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <main role="main" class="cover">
          <h1 class="cover-heading">Начни свой путь в инвестициях</h1>
          <p class="lead">Наша компания занимается подбором подходящего типа счета для каждого клиента индивидуально. Так же если вы уже разбираетесь, вы можете воспользоваться нашими услугами. Если вы плохо знагкомы с миром инвестиций, то мы подготовили для вас тест который поможет подобрать вам лучшее предложение.</p>
          <p class="lead">
            <a (click)="skip()" class="btn btn-lg btn-secondary newlink">Я и так весьма осведомлён</a>
            <a routerLink="/test/test1" class="btn btn-lg btn-secondary newlink">Пройти тест</a>
          </p>
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <footer class="mastfoot mt-auto">

        </footer>
      </div>
    </div>
  </div>
</div>
