<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <main role="main" class="cover">
          <h1 class="cover-heading">Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a routerLink="/" class="btn btn-lg btn-secondary">Я и так весьма осведомлён</a>
            <a routerLink="/test" class="btn btn-lg btn-secondary">Пройти тест</a>
          </p>
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <footer class="mastfoot mt-auto">

        </footer>
      </div>
    </div>
  </div>
</div>
