
   .image{
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .image:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

.bckcolor {
  /*background-color: #7abfff9a;*/
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: center;
  display: center; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */

}
body {
    /* The image used */
background-image: url(image/1600694720_peterburg-bogolubov.jpg);
    /* Set a specific height */
    height: 100%;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
}


.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
}
