<div class="parallax" style="background = #a1d6b0;">

  <ul ngbNav #nav="ngbNav" class="nav justify-content-center" style="background-color:#ffffff;height:4rem; opacity: .5;" >
    <li ngbNavItem >
      <a ngbNavLink routerLink="/main" id="pills-home-tab" style="color: #5E5D60; font-size: 200%;">Главная</a>

    </li>
    <!--<li ngbNavItem>
      <a ngbNavLink routerLink="/test" id="pills-home-tab">Тест</a>

    </li>-->
    <li ngbNavItem>
      <a ngbNavLink routerLink="/about" id="pills-home-tab" style="color: #5E5D60; font-size: 200%;">О компании</a>
    </li>

    <li ngbNavItem>
      <a ngbNavLink routerLink="/helper" id="pills-home-tab" style="color: #5E5D60; font-size: 200%;">Помощник</a>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
    <div class="container-fluid">

  <!--<a routerLink="/test-lending"> новый тест</a>-->



  <!--<nav>
    <a routerLink="/">Главная</a>
    <a routerLink="/test">Тест</a>
    <a routerLink="/about">О компании</a>
  </nav>-->
  <router-outlet ></router-outlet>
  </div>
</div>
