
<div *ngIf="toggle1">
  <div class="container" style="background-color: #62768E;">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 30rem;">
          <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h3 class="card-title" id="HeadText">Акции</h3>
            <div class="container">
              <div class="row" >
                <div class="col"  style="background-color: #00ff1a24;">

                    <p class="card-text" style="color: #5E5D60;">Покупка акций и их продажа приносит большую прибыль</p>

                    <p class="card-text" style="color: #5E5D60;">Акции можно продать практически мгновенно</p>
                  </div>
                    </div>
                    <br>
                  <div class="row">
                  <div class="col" style="background-color: #ff000013;">

                      <p class="card-text"  id="InfoText">Акционер получает прибыль последним и находится не в равных правах с генеральным директором.</p>

                      <p class="card-text"  id="InfoText">Для успешного вложения капитала в акции нужны опыт и знания.</p>
                    </div>
                </div>
              </div>
          <a href="#" class="card-link" (click)="showStock()" id="More">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="height: 30rem;">
      <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h3 class="card-title">Облигации</h3>
          <div class="container">
            <div class="row">
                <div class="col"  style="background-color:  #00ff1a24;">

                  <p class="card-text"  id="InfoText">вклады подходят консервативным инвесторам, сторонникам низких рисков</p>
                  <p class="card-text"  id="InfoText">проценты выше, чем по депозитам</p>
                </div>
                  </div>
                    <br>
                <div class="row">
                  <div class="col" style="background-color:   #ff000013;">

                  <p class="card-text"  id="InfoText">Невысокая доходность.      <br><br>
                    вложения в облигации не застрахованы государством </p>
                  </div>
              </div>
            </div>
          <a id="More" href="#" class="card-link" (click)="showBonds()" >Подробнее</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="height: 30rem;">
      <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
          <h3 class="card-title">Структурные продукты</h3>
          <div class="container">
            <div class="row">
  <div class="col"  style="background-color:  #00ff1a24;">

                  <p class="card-text"  id="InfoText">Высокий потенциал доходности<br><br>
                    Полностью контролируемая защита инвестиций<br><br>
                    Не требуется опыт инвестирования
                  </p>
                </div>
                  </div>
                    <br>
                <div class="row">
                  <div class="col" style="background-color:  #ff000013;">
                    <p class="card-text"  id="InfoText">Относительно высокий порог входа<br><br>
                      Структурные продукты, как и банковские вклады, имеют срок действия
                    </p>
                  </div>
              </div>
            </div>
          <a href="#" class="card-link" (click)="showProducts()" id="More">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <br>

  <a href="#" class="btn btn-primary" routerLink="/test" style="background-color:  #808084; border-color:#FFFFFF ">Все еще ничего не понятно ?  пройдите тест</a>

  </div>
</div>
<br>

<div *ngIf="toggleStock">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" >
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body" style=" height: 30rem;">
          <h5 class="card-title">Акции</h5>
          <p class="card-text" id="InfoText">Акции – это ценные бумаги, которые обеспечивают ее владельцу долю в капитале компании.</p>
            <br>
              <p class="card-text" id="InfoText">Акции могут приносить своим владельцам следующие доходы: выплаты по акциям (дивиденды) и прирост курсовой стоимости (то есть рыночных цен на акции).</p>

          <a href="#" id="More" class="card-link" (click)="showStock()">Закрыть</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

    <div *ngIf="toggleBonds">
    <div class="container">
    <div class="row">
    <div class="col-sm">
      <div class="card" >
      <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body" style=" height: 30rem;">
          <h5 class="card-title">Облигации</h5>
          <p class="card-text"id="InfoText">Облигации - это долговые ценные бумаги. С их помощью эмитент - компания или государство, занимает деньги у покупателей облигаций и обязуется вернуть их с процентами.</p>
<a href="#" id="More" class="card-link" (click)="showBonds()">Закрыть</a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

    <div *ngIf="toggleProducts">
    <div class="container">
    <div class="row">
    <div class="col-sm">
      <div class="card" >
      <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body" style=" height: 30rem;">
          <h5 class="card-title">Структурные продукты</h5>
          <p class="card-text"id="InfoText">Структурный продукт (производный финансовый инструмент, срочный внебиржевой контракт) — это готовая инвестиционная стратегия, комплексный финансовый инструмент с заранее определенным сроком.</p>
<a href="#" id="More" class="card-link" (click)="showProducts()">Закрыть</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
